body {
  font-family: sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 200px;
}

#loading {
  margin: 20px 0;
  font-size: 20px;
  color: #444;
}

.hidden {
  display: none;
}

#result img {
  width: 100%;
  margin-top: 20px;
  border: solid 2px #ddd;
}
